<!-- 1: HEADER -->
<app-header></app-header>

<!-- 8.1: DIRECTIVA 'Router-Outlet': como este es el componente PADRE donde estamos cargando 
todos y cada uno de los componentes de manera ordenada, cada que querramos ingresar a un link
especifico desde el URL(http://localhost:4200/sales) el ultimo parametro '/home' sera el 
componente que renderizaremos en el proceso de ROUTING, por lo tanto debemos escoger una zona
de de este mismo componente en donde renderizaremos dicho componente; yo usare esta parte
ya que por lo regular es donde siempre esta despejado y donde puedo mostrar el contenido-->
<router-outlet></router-outlet>
<!-- 8.2: En este momento, funciona; el enrutamiento ayuda a por ejemplo desaparecer componentes
y escribiendo el URL Angular utiliza la ruta que definió para cargar dinámicamente el componente
si esto fuera un ejemplo pondria en comentarios alguno de los componentes que tienen ruta y los
desapareceria (encerrandolos en comentarios) y aparecerlos con la ruta...

En este caso como nosotros queremos manejar las rutas desde un HEADER con links debemos usar la
directiva ROUTER LINK(header.component(8.3))
-->

<!-- 2: Parte mas importante de la página -->
<!-- 
<main>
    <app-home-container>
    <app-categories></app-categories>
    <app-about></app-about>
    <app-sales></app-sales>
    <app-discounts></app-discounts>
    <app-new-items></app-new-items>
    <app-newsletter></app-newsletter>
</main>
 -->

<!-- 3: FOOTER -->


<!-- 4: SCROLL UP: regresar al inicio -->
<!-- 14.3: interpolacion [class] y regresamos a app.component.ts(15) -->
<!-- 15.5: agregamos un evento de 'click' e invocamos a la funcion (regresar: app.comp.ts(15.6)) -->
<a class="scrollup" id="scroll-up" [class]="scrollup" (click)="scrollToUp()">
  <i class="bx bx-up-arrow-alt scrollup_icon"></i>
</a>
